<div class="note">
    <h1>Please fill the form only when you know you are ready financially and physically to receive the products</h1>
    <p>Note: we sell the recent 2023 series 8 smart watch,clipper with LED display and Earbuds. do not go and waste your money on fake things because they are cheaper. Buy from us and be rest assured of the quality and authenticity</p>
</div>

<div>
    <iframe src="https://app.snipercrm.io/formframe?formid=d045f9c703237" frameborder="0" scrolling="no" width="100%" class="form"></iframe>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://app.snipercrm.io/js/iframeResizer.min.js"></script>
<script type="text/javascript" src="https://app.snipercrm.io/js/iframeResizerFix.min.js"></script>
</div>

<!-- <div class="whatsapp">
    <a href="https://wa.link/5xp5uh" class="fa-brands fa-whatsapp"></a>
    <i class="fa-brands fa-whatsapp"></i> 
</div> -->