<head></head>

<section id="main-1">
<div class="container-1">
<div class="product-left">
<img src="../../assets/apple1.png" alt="app1" loading="lazy"/>
</div>   
<div class="product-right animate__animated animate__backInUp">
<h1>2023 Smart Watch</h1>
<p>series 8</p>
</div>
</div>
</section>

<Article class="article-1">
<div class="intro animate__animated animate__backInUp">
    <h1>Beautiful. <br>
    And made to <br>stay that way.</h1>
    <h3>This Luxury 2023 Model Series 8 Smart Phone Watch Has A Distinct Look And Quality That You Can Literally Feel, Obsessively Designed To Make A Bold Print. Designed With Premium High Quality Material. 
    </h3>
</div>
<div class="btn">
    <a routerLink="/order" class="btn-solid">Buy now</a>
</div>
<div>
    <img src="../../assets/img-3.jpeg" alt="img2" loading="lazy"/>
</div>
</Article>

<Article class="article-2">
    <div>
        <h3>
Imagine You Wearing A Wrist Watch That Can't Easily Be Seen Around.
This 2023 Model series8 Smart Phone Watch Is Not Only For Men or Women So Don’t Rock It Alone Without Your Partner.
BUY For Your Partner Too. </h3>
    </div>
    <img src="../../assets/img-4.jpeg" alt="img-3">
    <div class="art">
       <div class="product-left"><img src="../../assets/img-2.jpeg" alt="img" loading="lazy"/></div>
       <div class="product-right"><h2>Make and receive calls, send sms WhatsApp and Social media notifications such as facebook, twitter and instagram</h2></div>
    </div>
</Article>
<div class="btn">
    <a routerLink="/order" class="btn-solid">Buy now</a>
</div>
<section id="section-2">
    <div class="container-1">
    <h1>Here’s to a healthier you.</h1>
    <h4>The more informed you are about your health, the more empowered you are to affect it. You can monitor heart rate with this amazing watch</h4>
    <img src="../../assets/img-5.jpeg" alt="img5">
    </div>
</section>

<section id="section-3">
    <div class="container-3">
        <h1>Fitness+</h1>
        <h5>Take it further with this lovely watch. Track your fitness level as you work out. Make every workout yours with modifications to match your level. Work out anywhere, anytime, from 5 to 45 minutes</h5>
     </div>
    <img src="../../assets/img-6.jpeg" alt="img6" loading="lazy"/>

</section>

<section id="section-4">
    <div class="container-free">
        <h1>Free Gifts-1: Rechargeable Hair Cutter. <span>Normal Price N18,000</span></h1>
    <h4>When you buy this 2023 Model series8 Smart Phone Watch, 
    You will get a free <span>Rechargeable Hair Cutter. NO LIGHT NO WAHALA</span>
        </h4>
    </div>
        <img src="../../assets/hair-cutter.jpeg" alt="hair-cutter" loading="lazy"/>
</section>

<section id="section-4">
    <div class="container-free">
        <h1>Free Gifts-2: Wireless Earbuds with power bank. <span>Normal Price N12,000</span></h1>
    <h4>Listen to music and recharge your phone with this 2in1 earbuds
        </h4>
    </div>
        <img src="../../assets/earbuds.webp" alt="hair-cutter" loading="lazy"/>
</section>

<section class="pricing">
    <h1>2023 series 8 + Clipper + Earbuds <br> Normal Price N60,000 <span class="spana">Promo Price N34,000 </span></h1>
</section>

<div class="btn">
    <a routerLink="/order" class="btn-solid">Buy now</a>
</div>

<footer>
    <div class="container">
      <p>Copyright © 2023 Boom Technologies</p>
    </div>
  </footer>
  